.telephone {
  color: var(--primary-text);
  fill: var(--primary-text);
}
.footer {
 
  padding: 10px;
  display: flex;
  justify-content: center;
}
.footerhead {
padding:100px;
  background-color: var(--primary-bg);
  text-align: center;
  color: var(--primary-text);
}
