body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
:root {
  --primary-bg: white;
  --primary-link: #470d21;
  --primary-text: green;
  --primary-border: #98b2c9;
  --primary-button: #f9e4d4;
}

[data-color-mode="dark"] {
  --primary-link: #c3e5ae;
  --primary-bg: #bfebc0;
  --primary-text: #733c3c;
  --primary-border: #525252;
}
